<!--------Staff table-------->
<section id="staff_Table">
    <div class="col-mb-8">
        <div class="container-fluid">
            <h2>Staff</h2>
            <div class="row">
                <div class="col">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-hover m-0" id="person_Table">
                            <thead>
                                <tr>
                                    <th scope="col">Picture</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Email address</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Out Time</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Expected Return Time</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr id="row_">
                                    <td><img id="img_0" src="" alt="img" /></td>
                                    <td id="firstname_0"></td>
                                    <td id="lastname_0"></td>
                                    <td id="email_0"></td>
                                    <td id="inOut_0" class="in_out">In</td>
                                    <td id="outTime_0" class="time"></td>
                                    <td id="timeAway_0" class="duration"></td>
                                    <td id="expectedReturn_0" class="return"></td>
                                </tr>
                                <tr id="row_1">
                                    <td><img id="img_1" src="" alt="img" /></td>
                                    <td id="firstname_1"></td>
                                    <td id="lastname_1"></td>
                                    <td id="email_1"></td>
                                    <td id="inOut_1" class="in_out">In</td>
                                    <td id="outTime_1" class="time"></td>
                                    <td id="timeAway_1" class="duration"></td>
                                    <td id="expectedReturn_1" class="return"></td>
                                </tr>
                                <tr id="row_2">
                                    <td><img id="img_2" src="" alt="img" /></td>
                                    <td id="firstname_2"></td>
                                    <td id="lastname_2"></td>
                                    <td id="email_2"></td>
                                    <td id="inOut_2" class="in_out">In</td>
                                    <td id="outTime_2" class="time"></td>
                                    <td id="timeAway_2" class="duration"></td>
                                    <td id="expectedReturn_2" class="return"></td>
                                </tr>
                                <tr id="row_3">
                                    <td><img id="img_3" src="" alt="img" /></td>
                                    <td id="firstname_3"></td>
                                    <td id="lastname_3"></td>
                                    <td id="email_3"></td>
                                    <td id="inOut_3" class="in_out">In</td>
                                    <td id="outTime_3" class="time"></td>
                                    <td id="timeAway_3" class="duration"></td>
                                    <td id="expectedReturn_3" class="return"></td>
                                </tr>
                                <tr id="row_4">
                                    <td><img id="img_4" src="" alt="img" /></td>
                                    <td id="firstname_4"></td>
                                    <td id="lastname_4"></td>
                                    <td id="email_4"></td>
                                    <td id="inOut_4" class="in_out">In</td>
                                    <td id="outTime_4" class="time"></td>
                                    <td id="timeAway_4" class="duration"></td>
                                    <td id="expectedReturn_4" class="return"></td>
                                </tr>

                            </tbody>
                        </table>
                        <button class="staff_out" type="button"><span>Out</span></button>
                        <button class="staff_in" type="button"><span>In</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <!-- <div class="toast-container position-relative"></div>-->
        <div class="toast" id="staffToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img id="img_here" src="" class="rounded me-2">
                <strong>Staff Member is late!</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body" id="staffToastBody">
            </div>
        </div>
    
    <script src="../javascripts/class.js"></script>
    <script src="../javascripts/staffTable.js"></script>
</section>
