<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbar.ejs') %>
  </head>
  <body>
    

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
